<!doctype html>
{% load static %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Diplom</title>
<link rel="stylesheet" href="{% static 'css/constructor.css' %}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Inter:wght@400;700&family=Montserrat:wght@700&family=Noto+Sans:wght@700&family=Poppins:wght@700&display=swap" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/animejs@3.0.1/lib/anime.min.js"></script>
{{ ci_param_info|json_script:"hello-data" }}
{{ ding|json_script:"ding" }}
{{ dcing|json_script:"dcing" }}
</head>
<body style='overflow-x:hidden; margin:0%'>
    <input type="hidden" class="id" value="{{id}}" id="id">
    <input type="hidden" class="id" value="{{dish_id}}" id="dish_id">
    <input type="hidden" class="id" value="cake" id="type">
    <div class="main">
        {% if dish_id == 'new' %}
        <div class="cake_constructor_button" onclick="gobacktoConstructor()" style="z-index: 100;"><div class="cake_constructor_text">Назад</div></div>
        {% else %}
        <div class="cake_constructor_button" onclick="gobacktoOrders()" style="z-index: 100;"><div class="cake_constructor_text">Назад</div></div>
        {% endif %}
        <div class="add_cake_back">
            <div class="add_cake_window" id="popup">
                <div class="close_popup_button" onclick="closePopup()"><img src="{% static "images/close-button.png"%}"></div>
                {% if dish_id == 'new' %}
                <div class="popup_row" style="top:50%;"><input class="inp1" placeholder="Название" type="text" id="cake_name" style="min-width: 20vw; text-align: center;"></input></div>
                {% else %}
                <div class="popup_row" style="top:50%;"><input class="inp1" placeholder="Название" type="text" id="cake_name" style="min-width: 20vw; text-align: center; " value="{{name}}" oldname="{{name}}"></input></div>
                {% endif %}
                <div class="popup_row" style="top:35%;"><div class="popup_text">Введите информацию для создания нового блюда</div></div>
                <div class="popup_row" style="top:85%;">
                <div class="save_cake_button" onclick="savenewConcreteCake({{id}})" style="width: 200px;height: 40px; left:35%; top:85%; background:#be1414;">
                    <div class="save_button_text" style="width: 200px;height: 40px;">Сохранить</div>
                </div>
                </div>
            </div>
            </div>

<div class="param_block">
    <div class="param_block_title"> Параметры: </div>
    <div class="param_block_text" id="param_text">
        <div class="param_text"></div>
    </div>
</div>
<div class="param_block" style="margin-left:158.5px;">
    <div class="param_block_title"> Ингредиенты: </div>
    <div class="param_block_text" id="ing_text">
        <div class="ing_text"></div>
    </div>
</div>


        <div class="firstpagecake" id="spage">
            <div class="secondtitle" id="sectitle">
                Конструктор {{name}}
            </div>
            {% if ing.count > 11 %}
            <div class="wrapper" style="grid-template-columns: repeat({{ing.count}}, 130px);justify-content:start;" id="wrapper1">
            {% else %}
            <div class="wrapper" style="grid-template-columns: repeat({{ing.count}}, 130px);" id="wrapper1">
            {% endif %}  
                {% if ing.count > 0 %}
                {% for i in ing %} 
              <div><button class="components" id="{{i.id}}"><img class="image" src="{% static ""%}images/ingridients/{{i.image}}" style="cursor: pointer;border-radius: 130px;position: absolute;top: 0%;left: 0%;"></button> <div class="CIname" style="margin-top: 5px; margin-left: 30px;">{{i.name}}</div></div>
                {% endfor %}
                {% endif %}         
            </div>
            <div class="cus_col" style="margin-left: 65px; margin-top: 30px; grid-template-columns: repeat({{ing.count}}, 160px);">
                <div class="cus_col fishka">
                    <div class="fishka_additional" id="fishka_additional">
                    </div>
                    <div class="fishka_start"></div>
                 <div class="fishka bread" style="margin-top: 425px;left: 0px; opacity: 0.99;"><img class="image" src="{% static ""%}images/base.png"></div>
                </div>
                {% if ing.count > 11 %}
                <div class="wrapper2" style="grid-template-columns: repeat({{ing.count}}, 160px);justify-content:start;" id="wrapper2">
                {% else %}
                <div class="wrapper2" style="grid-template-columns: repeat({{ing.count}}, 160px);margin-left:15px;" id="wrapper2">
                {% endif %} 
                {% if ing.count > 0 %}
                {% for i in ing %} 
                {% for cica in ci_count_array %} 
                {% if i.id == cica.id %}
                {% if i.IsEssential == True %}
                <div class="yach essential" style="visibility:hidden;grid-template-rows: repeat({{cica.count}}, 160px);" id="yach{{i.id}}" name="{{i.name}}">
                {% else %}
                <div class="yach" style="visibility:hidden;grid-template-rows: repeat({{cica.count}}, 160px);" id="yach{{i.id}}">
                {% endif %} 
                {% endif %}   
                {% endfor %}  
                    {% for c in ci %} 
                    {% if i.id == c.Id_ing_id %}
                    {% if i.IsEssential == True %}
                    <div class="yach1 {{i.name}}" name="{{c.name}}" id="yach1_{{c.id}}" style="position: relative;" value="{{c.Value}}" count="0" isActive="false" plain_id="{{c.id}}"> <div class="yach1 extra_components {{i.name}}" id="extra_components_{{c.id}}"><img class="image" src="{% static ""%}images/concingridients/{{c.image}}" style="border-radius: 100px; cursor:pointer;" onclick="changeEssential({{c.id}})"><div class="CIname">{{c.name}}</div><div class="CIname" style="margin-left: -30px;min-width: 160px;text-align: center;background-color: grey;">({{c.Value}} рублей)</div></div></div>
                    {% else %}
                    <div class="yach1 {{i.name}}" name="{{c.name}}" id="yach1_{{c.id}}" style="position: relative;" value="{{c.Value}}" count="0" isActive="false" plain_id="{{c.id}}"> <div class="yach1 extra_components {{i.name}}" id="extra_components_{{c.id}}"><img class="image" src="{% static ""%}images/concingridients/{{c.image}}" style="border-radius: 100px; cursor:pointer;" onclick="changeNonEssential({{c.id}})"><div class="CIname">{{c.name}}</div><div class="CIname" style="margin-left: -30px;min-width: 160px;text-align: center;background-color: grey;">({{c.Value}} рублей)</div></div></div>
                    {% endif %} 
                    {% endif %}   
                    {% endfor %}  
                </div> 
                {% endfor %}
                {% endif %} 
                </div>
            </div>
            {% csrf_token %}
            <div class="buttonsecondorder" onclick="showCakePopup()" style="cursor: pointer; visibility:visible" id="butsecord">
            <div class="secondordertext" style="color:#794f4f;">
                {% if dish_id == 'new' %}
                Создать блюдо
                {% else %}
                Сохранить
                {% endif %}
            </div></div>
            <div class="itogoname" id="itogvalue" style="text-align:center; margin-top: -1%;margin-left: 65%; font-size: 27px;" value="0">Итоговая стоимость: 0 ₽</div>  
        </div>
    </div>
    <script src="{% static "js/main.js"%}"></script>
    <script src="{% static "js/constructor.js"%}"></script>
    <script src="{% static "js/custom_script.js"%}"></script>
</body>
</html>