<!doctype html>
{% load static %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Diplom</title>
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Inter:wght@400;700&family=Montserrat:wght@700&family=Noto+Sans:wght@700&family=Poppins:wght@700&display=swap" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/animejs@3.0.1/lib/anime.min.js"></script>
</head>
<body style='overflow-x:hidden; margin:0%'>
    <div class="main">
        <div class="main_button" onclick="gotomain()">
            <div class="main_button_text">На главную</div>
        </div>
        <div class="add_button" id="add_ci" style="visibility: hidden;">
            <div class="save_button_text" style="width: 400px;height: 40px;">Добавить</div>
        </div>
        <div class="conc_ing_row">
  <select name="potencial" id="ing_type" class="custom-select sources" placeholder="Выберите название ингредиента">
    {% for i in ing_info %}
    <option value="{{i.id}}">{{i.name}}</option>
    {% endfor %}
  </select>
        </div>
        
        <div class="conc_ing_field" id="ci_field" style="visibility: hidden;">
            <div class="conc_ing_row_field">                
                <div class="ing_card_image"><img class="image" src="{% static ""%}images/concingridients/test_ing.png"></div>
                <div class="ing_card_text"></div>
            </div>
        </div>








    </div>
    <script src="{% static "js/main.js"%}"></script>
    <script src="{% static "js/conc_ingredients.js"%}"></script>
</body>
</html>