<!doctype html>
{% load static %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Diplom</title>
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Inter:wght@400;700&family=Montserrat:wght@700&family=Noto+Sans:wght@700&family=Poppins:wght@700&display=swap" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/animejs@3.0.1/lib/anime.min.js"></script>
</head>
<body style='overflow-x:hidden; margin:0%'>
    <div class="main">
        <div class="main_button" onclick="gotomain()">
            <div class="main_button_text">На главную</div>
        </div>

        <div class="ing_info_field">


            <div class="ing_info_field_row"><div class="cc_text">Заказы</div><div class="cc_text">Блюда</div></div>
            <div class="order_dish_info_field">
                <div class="order_info_field">
                    {% for o in orders %} 
                    <div class="order_field_row" onclick="CheckOrder({{o.id}})"><div class="order_text" style="width: 150px;">Заказ №{{o.id}}</div><div class="order_text" style="width: 250px;">Клиент: {{o.customer_name}}</div></div>
                    {% endfor %}
                </div>
                <div class="dish_info_field">
                    {% for d in dishes %} 
                    {% if d.Id_cake_type.name == NULL %}
                    <div class="dish_field_row" id="dish_row_{{d.id}}"><div class="order_text" style="width: 250px;">Название: {{d.name}} (Свободный)</div><div class="change_delete_block"><div class="change_delete_text" onclick="DeleteDish({{d.id}})">Удалить</div><div class="change_delete_text" onclick="ChangeFreeDish({{d.id}})">Изменить</div></div></div>
                    {% else %}
                    <div class="dish_field_row" id="dish_row_{{d.id}}"><div class="order_text" style="width: 250px;">Название: {{d.name}} ({{d.Id_cake_type.name}})</div><div class="change_delete_block"><div class="change_delete_text" onclick="DeleteDish({{d.id}})">Удалить</div><div class="change_delete_text" onclick="ChangeCakeDish({{d.id}},{{d.Id_cake_type.id}})">Изменить</div></div></div>
                    {% endif %}  
                    {% endfor %}
                </div>
            </div>
            <div class="ing_info_field_row">
            <div class="add_archieve_button" onclick="CreatenewOrder()">
                <div class="save_button_text" style="width: 350px;height: 40px;background: #ff8d8d;">Создать новый заказ</div>
            </div>
            </div>
        </div>
    </div>
    <script src="{% static "js/main.js"%}"></script>
    <script src="{% static "js/order.js"%}"></script>
</body>
</html>