html,
body {
  width: 100vw;
  height: 100vh;
}

.main 
{
    background: linear-gradient(180deg, #ff9e9e 0%, #ffffff 90%);
    min-width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu
{
    display: grid;
    grid-template-columns: repeat(3, 290px);
    grid-column-gap: 13px;
    grid-template-rows: repeat(2, 290px);
    row-gap: 13px;
    width: 900px;
    height: 600px;
}

.menu_button
{
    position:relative;
    width: 290px;
    height: 290px;
    background: linear-gradient(180deg, #ffffff 0%, #f8b3b3 90%);
    border: 2px solid #fcfcfc;
    border-radius: 10px;
    cursor:pointer;
}

.menu_button:hover
{
    border: 2px solid #f8b3b3;
}

.button_ico
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    position:relative;
    top:15px;
    left:45px;
}

.button_text
{
    display: flex;
    align-items:center;
    justify-content:center;
    position:absolute;
    bottom: 0%;
    width: 290px;
    height:80px;
    text-align: center;
    vertical-align: middle;
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    font-style:inherit;
    font-weight: 400;
    line-height: normal;
}

.main_button
{   
    position: absolute;
    top:5%;
    cursor:pointer;
    width: 303px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #ffffff;
    box-shadow: 0px 4px 4px 0px #000;
}

.main_button_text
{
    width: 303px;
    height: 60px;
    display: flex;
    align-items:center;
    justify-content:center;
    text-align: center;
    vertical-align: middle;
    color: #ffa1a1;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.save_button
{   
    position: absolute;
    top:90%;
    left:80%;
    cursor:pointer;
    width: 303px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #ffa1a1;
    box-shadow: 0px 4px 4px 0px #000;
}

.delete_button
{   
    position: absolute;
    display: grid;
    top:90%;
    left:5%;
    border-radius: 20px;
    cursor:pointer;
    width: 303px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #be1414;
    box-shadow: 0px 4px 4px 0px #000;
}

.save_button_text
{
    width: 303px;
    height: 60px;
    display: flex;
    align-items:center;
    justify-content:center;
    text-align: center;
    vertical-align: middle;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.chars_field
{
    overflow:hidden;
    overflow-y: scroll;
    width: 50%;
    height: 550px;
    max-height: 550px;
    margin-top: 3%;
}

.concing_field
{
    overflow:hidden;
    overflow-y: scroll;
    width: 1000px;
    height: 450px;
    max-height: 450px;
    margin-top: 3%;
}

.chars_param
{
    margin-top:20px;
    display: grid;
    grid-template-columns: repeat(1, 50%);
    position: relative;
    min-width:50vw;
    align-items:center;
    justify-content:center;
    text-align: center;
    vertical-align: middle;
}

.orders_param
{
    position:relative;
    margin-bottom:10px;
    display: grid;
    grid-template-columns: repeat(2, 25%);
    position: relative;
    min-width:50vw;
    align-items:center;
    justify-content:center;
    text-align: center;
    vertical-align: middle;
}

.closebtn 
{
    cursor: pointer;
    position: absolute;
    right:15%;
    top:0%;
    width: 42px;
    height: 42px;
}

.add_button
{
    position: absolute;
    top:85%;
    border-radius: 5px;
    cursor:pointer;
    width: 400px;
    height: 40px;
    flex-shrink: 0;
    background: #ffa1a1;
}

.add_archieve_button
{
    position: relative;
    top:85%;
    border-radius: 5px;
    cursor:pointer;
    width: 350px;
    height: 40px;
    flex-shrink: 0;
    background: #ffa1a1;
}

.cake_type_field
{
    display: grid;
    overflow:hidden;
    overflow-y: scroll;
    grid-template-columns: repeat(3, 290px);
    grid-column-gap: 6px;
    width: 920px;
    height: 600px;
    align-content: flex-start;
}

.cake_type_card
{
    position:relative;
    margin-bottom: 6px;
    width: 290px;
    height: 190px;
    background: linear-gradient(180deg, #ffffff 0%, #f8b3b3 90%);
    border: 2px solid #dbdbdb;
    border-radius: 5px;
    cursor:pointer;
}

.cake_type_card_image
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 110px;
    position:relative;
    top:10px;
    left:90px;
    border: 2px solid linear-gradient(180deg, #f8b3b3 0%, #ffffff 90%);
}

.cake_type_card:hover
{
    border: 2px solid #f8b3b3;
}

.image
{
    object-fit: cover; 
    width: 100%; 
    height: 100%;
}

.add_cake_back {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 998;
  }

.add_cake_window
{
    display: flex, none;
    align-items:center;
    justify-content:center;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    top: 0;
    left: 30vw;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 40vw;
    height: 40vh;
    z-index: 999;
    animation: anime 1.25s;
}

.close_popup_button 
{
    cursor: pointer;
    position: absolute;
    right:0%;
    top:0%;
    width: 42px;
    height: 42px;
}

.popup_text
{
    position:absolute;
    top: 15%;
    left:0%;
    width:100%;
    padding:0px 0px;
    height:15%;
    display: flex;
    align-items:center;
    justify-content:center;
    text-align: center;
    vertical-align: middle;
    color: #be1414;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.popup_row
{
    display: flex;
    align-items:center;
    justify-content:center;
    text-align: center;
    vertical-align: middle;
    width:100%;
    height:10%;
    position: absolute;
}

.save_cake_button
{   
    cursor:pointer;
    width: 200px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #ffa1a1;
    box-shadow: 0px 4px 4px 0px #000;
}

.checkbox_text
{
    width: 303px;
    height: 60px;
    display: flex;
    align-items:center;
    justify-content:center;
    text-align: center;
    vertical-align: middle;
    color: #be1414;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.ing_field
{
    display: grid;
    overflow-y: scroll;
    grid-template-columns: repeat(4, 235px);
    grid-column-gap: 6px;
    width: 1000px;
    height: 604px;
    align-content: flex-start;
}

.ing_card
{
    position:relative;
    margin-bottom: 2px;
    width: 235px;
    height: 145px;
    background: linear-gradient(180deg, #ffffff 0%, #f8b3b3 90%);
    border: 2px solid #dbdbdb;
    border-radius: 5px;
    cursor:pointer;
}

.ing_card_image
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    position:relative;
    top:10px;
    left:72.5px;
    border: 2px solid linear-gradient(180deg, #f8b3b3 0%, #ffffff 90%);
}

.ing_card_text
{
    overflow-y: hidden;
    word-break: break-all;
    display: flex;
    align-items:center;
    justify-content:center;
    position:absolute;
    bottom: 0%;
    width: 235px;
    max-height:35px;
    min-height:35px;
    text-align: center;
    vertical-align: middle;
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-style:inherit;
    font-weight: 400;
    line-height: normal;

}

.ing_card:hover
{
    border: 2px solid #f8b3b3;
}

.ing_card_image_base
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    position:absolute;
    top:60px;
    left:185px;
    border: 2px solid linear-gradient(180deg, #f8b3b3 0%, #ffffff 90%);
    z-index:10;
}


.image_bin
{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    top:15px;
    right:50px;
}

.ing_card_image_base .essential_info
{
    visibility: hidden;
    position: absolute;
    top: -30px;
    left: 45%;
    display: flex;
    align-items:center;
    justify-content:center;
    text-align: center;
    vertical-align: middle;
    color: #be1414;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
    width: 10%;
    height: 20px;
    z-index: 500;
    opacity: 0;
    transition: opacity 1s;
}

.ing_card_image_base:hover .essential_info
{
    visibility: visible;
    opacity: 1;
}

.ing_info_field
{
    width: 1000px;
    height: 650px;
}

.ing_info_field_row
{

    width: 1000px;
    height: 40px;
    margin-bottom: 5px;
    display: flex;
    align-items:center;
    justify-content:center;
    text-align: center;
    vertical-align: middle;
}

.ing_info_field_half_row
{

    width: 500px;
    height: 40px;
    display: flex;
    align-items:center;
    justify-content:center;
    text-align: center;
    vertical-align: middle;
}

.ing_info_field_chars_cakes
{

    width: 1000px;
    height: 450px;
    display: flex;
    align-items:end;
    vertical-align: bottom;
}

.order_dish_info_field
{

    width: 1000px;
    height: 592px;
    display: flex;
    align-items:end;
    vertical-align: bottom;
}

.order_info_field
{

    width: 500px;
    height: 592px;
    display: grid;
    overflow-y: scroll;
    align-content: flex-start;
    justify-items: center;
}

.dish_info_field
{

    width: 500px;
    height: 592px;
    display: grid;
    overflow-y: scroll;
    align-content: flex-start;
    justify-items: center;
}

.ing_info_field_c
{

    width: 400px;
    height: 450px;
    margin-right: 60px;
    margin-left: 60px;
    display: grid;
    overflow-y: scroll;
    align-content: flex-start;
}

.cc_text
{
    width: 500px;
    height: 40px;
    display: flex;
    align-items:center;
    justify-content:center;
    text-align: center;
    vertical-align: middle;
    color: #be1414;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.param_field_row
{
    width: 350px;
    height: 40px;
    margin-bottom: 10px;
    display: flex;
    vertical-align: middle;
    border: 2px solid #be1414;
    border-radius: 5px;
    cursor:pointer;
}

.order_field_row
{
    width: 400px;
    height: 60px;
    margin-bottom: 10px;
    display: flex;
    vertical-align: middle;
    border: 2px solid #be1414;
    border-radius: 5px;
    cursor:pointer;

}

.cake_field_row
{
    width: 350px;
    height: 80px;
    margin-bottom: 6px;
    border: 2px solid #be1414;
    border-radius: 5px;
    display: flex;
    vertical-align: middle;
    cursor:pointer;
}

.dish_field_row
{
    width: 400px;
    height: 60px;
    margin-bottom: 10px;
    border: 2px solid #be1414;
    border-radius: 5px;
    display: flex;
    vertical-align: middle;
}

.param_text
{
    width: 300px;
    height: 40px;
    margin-left: 5px;
    display: flex;
    align-items:center;
    text-align: left;
    vertical-align: middle;
    color: #be1414;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.order_text
{
    position:relative;
    width: 200px;
    height: 60px;
    margin-left: 5px;
    display: flex;
    align-items:center;
    text-align: left;
    vertical-align: middle;
    color: #be1414;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.change_delete_block
{
    width: 150px;
    height: 60px;
    display: grid;
    align-content: flex-start;
}

.change_delete_text
{
    position:relative;
    width: 150px;
    height: 30px;
    display: flex;
    align-items:center;
    text-align: center;
    justify-content: center;
    vertical-align: middle;
    color: #be1414;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
    text-decoration: underline;
}

.input_field
{
    width: 50px;
    height: 40px;
    right:0%;
    display: flex;
    align-items:center;
    justify-content:center;
    text-align: center;
    vertical-align: middle;
}

.image_cake_field
{
    width: 60px;
    height: 60px;
    left:0%;
    top:0%;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.cake_text
{
    
    width: 220px;
    height: 80px;
    display: flex;
    align-items:center;
    text-align: left;
    vertical-align: middle;
    color: #be1414;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.conc_ing_field
{
    display: grid;
    overflow-y: scroll;
    grid-template-columns: repeat(4, 235px);
    grid-column-gap: 6px;
    width: 1000px;
    height: 468px;
    align-content: flex-start;
}

.conc_ing_row
{
    position: absolute;
    width: 50%;
    height: 50px;
    max-height: 50px;
    top: 15%;
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
}

.conc_ing_row_field
{
    position:relative;
    margin-bottom: 2px;
    width: 235px;
    height: 150px;
    background: linear-gradient(180deg, #ffffff 0%, #f8b3b3 90%);
    border: 2px solid #dbdbdb;
    border-radius: 5px;
    cursor:pointer;
}


.conc_ing_row_field:hover
{
    border: 2px solid #f8b3b3;
}

.free_constructor_button
{   
    right:0%;
    display: grid;
    border-radius: 10px;
    cursor:pointer;
    width: 200px;
    height: 40px;
    flex-shrink: 0;
    background: #be1414;
    box-shadow: 0px 4px 4px 0px #000;
    border: 2px solid #ffffff;
}

.free_constructor_text
{
    width: 200px;
    height: 40px;
    display: flex;
    align-items:center;
    justify-content:center;
    text-align: center;
    vertical-align: middle;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}





















@keyframes anime {
    0% { transform: translateY(-100%); }
    100% { transform: translateY(70%);}
}

input[type=text] {

    min-width:25vw;
	appearance: none;
	border: none;
	outline: none;
	border-bottom: .2em solid #be1414;
	background: rgba(#be1414, .2);
	border-radius: .2em .2em 0 0;
	padding: .2em;
	color: #be1414;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

input[type=text]::placeholder {
    color: #be1414;
    opacity: 1; /* Firefox */
  }

::-webkit-scrollbar {
    width: 20px;
    background:none;
  }
  
  ::-webkit-scrollbar-track {
    background:none;
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  ::-webkit-scrollbar-thumb {
    background: #ffa1a1;
    border: 1px solid #ffffff;
    border-radius: 10px;
  }
  

  ::-webkit-scrollbar-thumb:hover {
    background: #ffa5a5;
    border: 1px solid #ffffff;
    cursor: pointer;
  }




  input[type=checkbox] {
    appearance: none;
    background-color: #fff;
    cursor: pointer;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid #be1414;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
	&::before {
		content: "";
		width: 0.65em;
		height: 0.65em;
		transform: scale(0);
		transition: 120ms transform ease-in-out;
		box-shadow: inset 1em 1em #be1414;
		background-color: CanvasText;
		clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
		transform-origin: left top;
	}
	&:checked::before {
		transform: scale(1);
	}
}















  /** Custom Select **/
  .custom-select-wrapper {
    position: relative;
    display: inline-block;
    user-select: none;
    cursor: pointer;
  }
  .custom-select-wrapper select {
    display: none;
  }
  .custom-select {
    margin-left: 40px;
    position: relative;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
    z-index: 5;
  }

  .custom-select-trigger {
    position: relative;
    display: block;
    min-width: 420px;
    padding: 0 104px 0 25px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
    color: #ffa1a1;
    background-color: #ffffff;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  .custom-select-trigger:hover {
    -webkit-box-shadow: 0px 10px 50px 0px rgba(43, 111, 246, 0.1);
    box-shadow: 0px 10px 50px 0px rgba(43, 111, 246, 0.1);
  }
  .custom-select-trigger:before {
    position: absolute;
    display: block;
    content: "";
    width: 1px;
    height: 50px;
    top: 3px;
    right: 50px;
    margin-top: -3px;
    border-right: 1px solid #ffa1a1;
    transition: all 0.35s ease-out;
    transform-origin: 50% 0;
  }
  .custom-select-trigger:after {
    position: absolute;
    display: block;
    content: "";
    width: 10px;
    height: 10px;
    top: 50%;
    right: 20px;
    margin-top: -3px;
    border-bottom: 1px solid #ffa1a1;
    border-right: 1px solid #ffa1a1;
    transform: rotate(45deg) translateY(-50%);
    transition: all 0.35s ease-out;
    transform-origin: 50% 0;
  }
  .custom-select.opened .custom-select-trigger:after {
    margin-top: 3px;
    transform: rotate(-135deg) translateY(-50%);
  }
  .custom-options {
    position: absolute;
    display: block;
    top: 100%;
    left: 0%;
    right: 0;
    width: 100%;
  
    margin: 10px 0;
    border-radius: 5px;
    box-sizing: border-box;
  
    background: #fff;
    transition: all 0.2s ease-in-out;
  
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateY(-15px);
    border: 0;
  }
  .custom-select.opened .custom-options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transform: translateY(-8px);
  
    -webkit-box-shadow: 0px 10px 50px 0px rgba(43, 111, 246, 0.1);
    box-shadow: 0px 10px 50px 0px rgba(43, 111, 246, 0.1);
  }
  .option-hover:before {
    background: #f9f9f9;
  }
  .custom-option {
    position: relative;
    display: block;
    padding: 0 22px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
    color: #ffa1a1;
    cursor: pointer;
    transition: all 0.05s ease-in-out;
  }
  .custom-option:first-of-type {
    border-radius: 4px 4px 0 0;
  
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }
  .custom-option:last-of-type {
    border-bottom: 0;
    border-radius: 0 0 4px 4px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  .custom-option:hover,
  .custom-option.selection {
    color: #fff;
    background-color: #ffa1a1;
  }
  